@mixin title-font {
	font-family: $title-font;
	font-size: 17px;
	font-weight: 700;
	color: #333333;
}

@mixin main-text {
	font-family: 'Inter', sans-serif;
	font-variation-settings: 'wght' 400;
	font-size: 13px;
}

@mixin main-text2 {
	font-family: 'Inter', sans-serif;
	font-variation-settings: 'wght' 500;
	font-size: 14px;
}

@mixin flex-block {
	display: flex;
	align-items: center;
	justify-content: center;
}
